{% extends "@TriburchBackendJuegos/forms.html.twig" %}

{% block title %}Show Item Joc{% endblock %}

{% block body %}

    {% if errores is defined %}
        {% for error in errores %}
            {% set errorstring=error|split('.') %}
            Error:{{errorstring[1]}}
        {% endfor %}
    {% endif %}

    {{ form_start(form)}}
    {{ form_widget(form) }}
    <br>

    {% if app.request.attributes.get('_route')=='joc_edit' %}
    <button><a href={{ path('traductor_new',{'id': app.request.attributes.get('_route_params')['id']})}}>Traduciones</a></button>
    {% endif %}

{% endblock %}